<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Room</title>
</head>
<body style="background-color: #003366; color: white;">
    <script>
        let currentURL = window.location.href;
        let name = currentURL.substring(currentURL.lastIndexOf('/') + 1);
        localStorage.setItem('username', name);
    </script>

    <h1>Welcome, {{ name }}!</h1>
    <div id="chat-history">
        <h2>Chat History:</h2>
        <ul id="messages">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
    <form id="message-form">
        <input type="text" id="message-input" placeholder="Type a message...">
        <button type="submit">Send</button>
    </form>

    <script src="https://cdn.socket.io/4.4.0/socket.io.min.js"></script>
    <script>
        var socket = io.connect();
        var lastMessageTime = 0;  // Time when the last message was sent

        // Emit message when form is submitted
        document.getElementById('message-form').onsubmit = function(e) {
            e.preventDefault();
            var message = document.getElementById('message-input').value.trim();  // Remove leading/trailing spaces
            var username = localStorage.getItem('username')
            // Check if the message is not empty and if at least 1 second has passed since the last message
            var currentTime = Date.now();
            if (message !== "" && (currentTime - lastMessageTime) >= 1000) {
                var json_msg = {"message":message, "username": username};
                socket.send(json_msg);  // Send message to server
                document.getElementById('message-input').value = '';  // Clear input
                lastMessageTime = currentTime;  // Update the time of the last sent message
            } else if (message === "") {
                alert("Please type a message before sending.");
            } else {
                alert("You can only send one message per second.");
            }
        };

        // Listen for messages from the server
        // Listen for messages from the server
        socket.on('message', function(data) {
            if (data.redirect) {
                // Redirect the user to the given URL
                window.location.href = data.redirect;
            } else {
                var messagesList = document.getElementById('messages');
                var newMessage = document.createElement('li');
                newMessage.textContent = data;  // Since the server now sends a string, we can display it directly
                messagesList.appendChild(newMessage);  // Append new message to chat
            }
        });

    </script>
</body>
</html>
